@import url(/css/reset.css);
@import url(/css/normalize);
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato-v23-latin-regular.woff") format("woff");
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v23-latin-700.woff2") format("woff2"), url("../fonts/lato-v23-latin-700.woff") format("woff");
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v23-latin-900.woff2") format("woff2"), url("../fonts/lato-v23-latin-900.woff") format("woff");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper-sm {
  width: 1060px;
  margin: 0 auto;
}

.wrapper-lg {
  width: 1262px;
  margin: 0 auto;
}

.line {
  width: 253px;
  height: 3px;
  border-color: #006DFE;
  margin: 0;
  margin-top: 7px;
}

/* Header start */
.header {
  width: 100%;
  height: 989px;
  background: url(../img/header-bg.jpg) center no-repeat;
  background-size: cover;
}

.nav {
  width: 1060px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 56px;
  margin-bottom: 177px;
}
.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nav__item {
  margin-right: 82px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}
.nav__link:hover, .nav__link .nav__link:focus, .nav__link .nav__link:active {
  opacity: 0.75;
}

.text__title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  margin-bottom: 22px;
}
.text__subtitle {
  max-width: 546px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search__input {
  width: 297px;
  background: transparent url(../img/icons/oval.svg) no-repeat left 0px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  padding-left: 43px;
  padding-bottom: 22px;
  margin-right: 60px;
  font-size: 18px;
  font-weight: 400;
}
.search__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.search__input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.search__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.search__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.search__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.search__btn {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background: #1B7DFF;
  border: 0;
}

/* Header end */
/* Benefits start */
.benefits {
  margin-bottom: 131px;
}
.benefits__wrap {
  position: relative;
  max-width: 1262px;
  margin: 0 auto;
  background-color: #fff;
}
.benefits__title {
  width: 100%;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: #fff;
}
.benefits__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefits__card {
  max-width: 317px;
}
.benefits__card-img {
  margin-bottom: 37px;
}
.benefits__card-title {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 26px;
}
.benefits__card-text {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 40px;
}
.benefits__card-more {
  display: inline-block;
  padding-right: 59px;
  color: #006DFE;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 112px;
  background: url(../img/icons/shape.svg) no-repeat 95% center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.benefits__card-more:hover, .benefits__card-more:focus {
  background: url(../img/icons/shape.svg) no-repeat right center;
}

/* Benefits end */
/* Inspired start */
.inspired {
  padding-bottom: 131px;
}
.inspired__title {
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}
.inspired__link {
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  background: url(../img/icons/shape.svg) no-repeat 95% center;
  text-transform: uppercase;
}
.inspired__link a {
  color: #006DFE;
  text-decoration: none;
}
.inspired__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.inspired__card {
  position: relative;
  overflow: hidden;
}
.inspired__card-img {
  width: 100%;
  -webkit-transition: 0.15s all;
  -o-transition: 0.15s all;
  transition: 0.15s all;
}
.inspired__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.inspired__card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.inspired__card:hover .inspired__card-img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.inspired__card-name {
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.img-lg {
  height: 354px;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: span 3;
}

.img-sm {
  height: 283px;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: span 2;
}

/* Inspired end */
/* Prefecture start */
.prefecture {
  margin-bottom: 139px;
}
.prefecture__place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 77px;
}

.place__title {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}
.place__text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}
.place__link {
  font-size: 16px;
  color: #006DFE;
  text-decoration: none;
  padding-right: 59px;
  background: url(../img/icons/shape.svg) no-repeat right center;
}

/* Prefecture end */
/* Today start */
.today {
  padding-bottom: 144px;
}
.today__title {
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 54px;
}
.today__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 53px 58px;
}
.today__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.today__content {
  position: relative;
  margin-bottom: 45px;
}
.today__content-title {
  font-size: 18px;
  ine-height: 24px;
  color: #fff;
  margin: 0 auto 0 0;
}
.today__content-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
  color: #fff;
  z-index: 1;
}
.today__content-likes {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-right: 20px;
  background: url(../img/icons/like.svg) no-repeat right;
  margin-right: 14px;
}
.today__content-comments {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-right: 23px;
  background: url(../img/icons/comment.svg) no-repeat right;
}
.today__text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}
.today__btn {
  width: 118px;
  padding: 12px 19px;
  background: #006DFE;
  color: #fff;
  font-size: 16px;
  margin: auto 0 0 0;
  border: none;
  line-height: 19px;
  text-decoration: none;
}

/* Today end */
/* Video start */
.video {
  width: 100%;
}
.video__wrap {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.video__item {
  padding-top: 56.25%;
}
.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Video end */
/* Footer start */
.footer {
  background: #0E1D28;
  padding: 119px 0;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  width: 50%;
}
.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

/* Footer end */   /*# sourceMappingURL=style.css.map */