@import url(/css/reset.css);
@import url(/css/normalize);
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v23-latin-regular.woff2") format("woff2"), url("../fonts/lato-v23-latin-regular.woff") format("woff");
}
/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v23-latin-700.woff2") format("woff2"), url("../fonts/lato-v23-latin-700.woff") format("woff");
}
/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v23-latin-900.woff2") format("woff2"), url("../fonts/lato-v23-latin-900.woff") format("woff");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #102746;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper-sm {
  width: 1060px;
  margin: 0 auto;
}

.wrapper-lg {
  width: 1262px;
  margin: 0 auto;
}

.line {
  width: 253px;
  height: 3px;
  border-color: #006DFE;
  margin: 0;
  margin-top: 7px;
}

/* Header start */
.header {
  width: 100%;
  height: 989px;
  background: url(../img/header-bg.jpg) center no-repeat;
  background-size: cover;
}

.nav {
  width: 1060px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 56px;
  margin-bottom: 177px;
}
.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nav__item {
  margin-right: 82px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}
.nav__link:hover, .nav__link .nav__link:focus, .nav__link .nav__link:active {
  opacity: 0.75;
}

.text__title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: #FFFFFF;
  margin-bottom: 22px;
}
.text__subtitle {
  max-width: 546px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search__input {
  width: 297px;
  background: transparent url(../img/icons/oval.svg) no-repeat left 0px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  padding-left: 43px;
  padding-bottom: 22px;
  margin-right: 60px;
  font-size: 18px;
  font-weight: 400;
}
.search__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.search__input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.search__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.search__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.search__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.search__btn {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: white;
  background: #1B7DFF;
  border: 0;
}

/* Header end */
/* Benefits start */
.benefits {
  margin-bottom: 131px;
}
.benefits__wrap {
  position: relative;
  max-width: 1262px;
  margin: 0 auto;
  background-color: #fff;
}
.benefits__title {
  width: 100%;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: #fff;
}
.benefits__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.benefits__card {
  max-width: 317px;
}
.benefits__card-img {
  margin-bottom: 37px;
}
.benefits__card-title {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 26px;
}
.benefits__card-text {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 40px;
}
.benefits__card-more {
  display: inline-block;
  padding-right: 59px;
  color: #006DFE;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 112px;
  background: url(../img/icons/shape.svg) no-repeat 95% center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.benefits__card-more:hover, .benefits__card-more:focus {
  background: url(../img/icons/shape.svg) no-repeat right center;
}

/* Benefits end */
/* Inspired start */
.inspired__title {
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px;
}
.inspired__link {
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  background: url(../img/icons/shape.svg) no-repeat 95% center;
  text-transform: uppercase;
}
.inspired__link a {
  color: #006DFE;
  text-decoration: none;
}
.inspired__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.inspired__card {
  position: relative;
  overflow: hidden;
}
.inspired__card-img {
  width: 100%;
  -webkit-transition: 0.15s all;
  -o-transition: 0.15s all;
  transition: 0.15s all;
}
.inspired__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.inspired__card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.inspired__card:hover .inspired__card-img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.inspired__card-name {
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.img-lg {
  height: 354px;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: span 3;
}

.img-sm {
  height: 283px;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: span 2;
}

/* Inspired end *//*# sourceMappingURL=style.css.map */