@import url(../css/reset.css)
@import url(../css/normalize.css)

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap')

*
  box-sizing: border-box 
  &::before
    box-sizing: inherit
  &::after
    box-sizing: inherit

body
  font-family: 'Lato'
  font-style: normal
  font-size: 16px
  line-height: 1.2
  font-weight: 400
  color: #102746

img
  max-width: 100%
  height: auto

.wrapper-sm
  width: 1060px
  margin: 0 auto

.wrapper-lg
  width: 1262px
  margin: 0 auto

.line
  width: 253px
  height: 1px
  background-color: #006DFE
  border-color: #006DFE
  margin: 7px 0 0


/* Header start */
.header
  width: 100%
  height: 989px
  background: url(../img/header-bg.jpg) center no-repeat 
  background-size: cover

.nav
  width: 1060px
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding-top: 56px
  margin: 0 auto 177px
  &__items
    list-style-type: none
    display: flex
    flex-wrap: wrap
  &__item
    margin-right: 82px
    &:last-child
      margin-right: 0
  &__link
    color: #FFFFFF
    font-size: 18px
    line-height: 24px
    text-decoration: none
    &:hover, .nav__link:focus, .nav__link:active
      opacity: .75

.text
  &__title
    font-weight: 500
    font-size: 50px
    line-height: 60px
    color: #FFFFFF
    margin-bottom: 22px
  &__subtitle
    max-width: 546px
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: #FFFFFF
    margin-bottom: 60px
  
.search
  display: flex
  flex-wrap: wrap
  align-items: center
  &__input
    width: 297px
    background: transparent url(../img/icons/oval.svg) no-repeat left 0
    background-size: 20px
    border: 0
    border-bottom: 2px solid #BFC0C5
    padding-left: 43px
    padding-bottom: 22px
    margin-right: 60px
    font-size: 18px
    font-weight: 400
    &::placeholder
      font-weight: 400
      font-size: 18px
      color: #fff
  &__btn
    padding: 15px 39px
    text-transform: uppercase
    font-weight: 500
    font-size: 24px
    color: white
    background: #1B7DFF
    border: 0
    
/* Header end */

/* Benefits start */
.benefits
  margin-bottom: 131px
  &__wrap
    position: relative
    max-width: 1262px
    margin: 0 auto
    background-color: #fff
    box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16)
    z-index: 2
  &__title
    width: 100%
    font-size: 35px
    font-weight: 500
    line-height: 42px 
    padding: 93px 100px 88px 100px
    position: absolute
    top: 0
    left: 0
    transform: translateY(-100%)
    background-color: #fff
    
  &__cards
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__card
    max-width: 317px
    &-img
      margin-bottom: 37px
    &-title
      font-size: 18px
      line-height: 24px
      font-weight: 500
      color: #000000
      margin-bottom: 26px
    &-text
      font-size: 16px
      line-height: 24px
      color: #000000
      margin-bottom: 40px
    &-more
      display: inline-block
      padding-right: 59px
      color: #006DFE
      font-size: 16px
      line-height: 24px
      margin-bottom: 112px
      background: url(../img/icons/shape.svg) no-repeat 95% center
      text-decoration: none
      text-transform: uppercase
      transition: .2s all
.benefits__card-more:hover, .benefits__card-more:focus
  background: url(../img/icons/shape.svg) no-repeat right center  

/* Benefits end */

/* Inspired start */

.inspired
  padding-bottom: 131px
  &__title
    font-size: 35px
    line-height: 42px
    font-weight: 500
    color: #102746
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    margin-bottom: 36px
  &__link
    padding-right: 59px
    font-size: 16px
    line-height: 24px
    color: #000
    text-decoration: none
    background: url(../img/icons/shape.svg) no-repeat 95% center
    text-transform: uppercase
    & a
      color: #006DFE
      text-decoration: none
    
  &__cards
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-gap: 10px
  &__card
    position: relative
    overflow: hidden
    &-img
      width: 100%
      transition: .15s all
    &-link
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 4 
    &::after
      display: block
      content: ""
      width: 100%
      height: 100%
      background-color: rgba(21, 24, 36, 0.4)
      position: absolute
      top: 0
      left: 0
      z-index: 2
    &:hover .inspired__card-img
      transform: scale(1.05)
  &__card-name
    font-size: 50px
    line-height: 60px
    font-weight: 500
    color: white
    position: absolute
    bottom: 27px
    left: 29px
    z-index: 3

.img-lg
  height: 354px
  object-fit: cover
  grid-column: span 3

.img-sm
  height: 283px
  object-fit: cover
  grid-column: span 2

/* Inspired end */

/* Prefecture start */

.prefecture
  margin-bottom: 139px
  &__place
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 0 108px
    align-items: center
    margin-bottom: 77px

.place
  &__title
    font-size: 30px
    line-height: 40px
    font-weight: 500
    margin-bottom: 85px
  &__text
    font-size: 16px
    line-height: 24px
    margin-bottom: 58px
  &__link
    font-size: 16px
    color: #006DFE
    text-decoration: none
    padding-right: 59px
    background: url(../img/icons/shape.svg) no-repeat right center
    
/* Prefecture end */

/* Today start */

.today
  padding-bottom: 144px
  &__title
    font-size: 35px
    line-height: 42px
    font-weight: 500
    margin-bottom: 54px
  &__cards
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 53px 58px
  &__card
    display: flex
    flex-direction: column
  &__content
    position: relative
    margin-bottom: 45px
    &-title
      font-size: 18px
      line-height: 24px
      font-weight: 700
      color: #fff
      margin: 0 auto 0 0
      
    &-stats
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: flex-end
      position: absolute
      bottom: 0
      left: 0 
      width: 100% 
      background: rgba(21, 24, 36, 0.6)
      padding: 16px 25px 
      color: #fff
      z-index: 1
    &-likes
      font-size: 16px
      line-height: 24px
      font-weight: 700
      color: #fff
      padding-right: 20px
      background: url(../img/icons/like.svg) no-repeat right
      margin-right: 14px
    &-comments
      font-size: 16px
      line-height: 24px
      color: #fff
      padding-right: 23px
      background: url(../img/icons/comment.svg) no-repeat right
  &__text
    font-size: 16px
    line-height: 24px
    margin-bottom: 31px
  &__btn
    width: 118px
    padding: 12px 19px
    background: #006DFE
    color: #fff
    font-size: 16px
    margin: auto 0 0 0
    border: none
    line-height: 19px
    text-decoration: none

/* Today end */

/* Video start */

.video
  width: 100%
  
  &__wrap
    max-width: 1586px
    margin: 0 auto
    position: relative
  &__item
    padding-top: 56.25%
  &__element
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

/* Video end */

/* Footer start */
  
.footer
  background: #0E1D28
  padding: 119px 0
  &__wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: flex-start
  &__links
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    font-size: 18px
    line-height: 24px
    color: #FFFFFF
    width: 50%
  &__link
    text-decoration: none
    color: #fff
    font-size: 16px
    line-height: 24px

/* Footer end */   
