@import url(/css/reset.css)
@import url(/css/normalize)

/* lato-regular - latin */
@font-face 
  font-family: 'Lato'
  font-style: normal
  font-weight: 400
  src: url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), url('../fonts/lato-v23-latin-regular.woff') format('woff') 

/* lato-700 - latin */
@font-face 
  font-family: 'Lato'
  font-style: normal
  font-weight: 700
  src: url('../fonts/lato-v23-latin-700.woff2') format('woff2'), url('../fonts/lato-v23-latin-700.woff') format('woff') 

/* lato-900 - latin */
@font-face 
  font-family: 'Lato'
  font-style: normal
  font-weight: 900
  src: url('../fonts/lato-v23-latin-900.woff2') format('woff2'), url('../fonts/lato-v23-latin-900.woff') format('woff') 

  
*
  box-sizing: border-box 
  &::before
    box-sizing: inherit
  &::after
    box-sizing: inherit

body
  font-family: 'Lato'
  font-style: normal
  font-size: 16px
  line-height: 1.2
  font-weight: 400
  color: #102746

img
  max-width: 100%
  height: auto

.wrapper-sm
  width: 1060px
  margin: 0 auto


/* Header start */
.header
  width: 100%
  height: 989px
  background: url(../img/header-bg.jpg) center no-repeat 
  background-size: cover

.nav
  width: 1060px
  margin: 0 auto
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding-top: 56px
  margin-bottom: 177px
  &__items
    display: flex
    flex-wrap: wrap
  &__item
    margin-right: 82px
    &:last-child
      margin-right: 0
  &__link
    color: #FFFFFF
    font-size: 18px
    line-height: 24px
    text-decoration: none
    &:hover, .nav__link:focus, .nav__link:active
      opacity: .75

.text
  &__title
    font-style: normal
    font-weight: 400
    font-size: 50px
    line-height: 60px
    color: #FFFFFF
    margin-bottom: 22px
  &__subtitle
    max-width: 546px
    font-weight: 400
    font-size: 16px
    line-height: 24px
    color: #FFFFFF
    margin-bottom: 60px
  
.search
  display: flex
  flex-wrap: wrap
  align-items: center
  &__input
    width: 297px
    background: transparent url(../img/icons/oval.svg) no-repeat left 0px
    background-size: 20px
    border: 0
    border-bottom: 2px solid #BFC0C5
    padding-left: 43px
    padding-bottom: 22px
    margin-right: 60px
    font-size: 18px
    font-weight: 400
    &::placeholder
      font-weight: 400
      font-size: 18px
      color: #fff
  &__btn
    padding: 15px 39px
    text-transform: uppercase
    font-weight: 500
    font-size: 24px
    color: white
    background: #1B7DFF
    border: 0
    
/* Header end */

/* Benefits start */

.benefits
  margin-bottom: 131px
  &__wrap
    position: relative
    max-width: 1262px
    margin: 0 auto
    background-color: #fff
    
  &__title
    width: 100%
    font-size: 35px
    line-height: 42px 
    padding: 93px 100px 88px 100px
    position: absolute
    top: 0
    left: 0
    transform: translateY(-100%)
    background-color: #fff
    
  &__cards
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__card
    max-width: 317px
    &-img
      margin-bottom: 37px
    &-title
      font-size: 18px
      line-height: 24px
      color: #000000
      margin-bottom: 26px
    &-text
      font-size: 16px
      line-height: 24px
      color: #000000
      margin-bottom: 40px
    &-more
      display: inline-block
      padding-right: 59px
      color: #006DFE
      font-size: 16px
      line-height: 24px
      margin-bottom: 112px
      background: url(../img/icons/shape.svg) no-repeat 95% center
      text-decoration: none
      text-transform: uppercase
      transition: .2s all
.benefits__card-more:hover, .benefits__card-more:focus
  background: url(../img/icons/shape.svg) no-repeat right center  

/* Benefits end */